<!-- Consignes -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Consignes </mat-panel-title>
  </mat-expansion-panel-header>
  Afficher la liste des commandes sous forme de tableau avec les colonnes
  suivantes :
  <ol>
    <li>Prénom du client</li>
    <li>Nom du client</li>
    <li>Adresse du client</li>
    <li>Total du panier en dollars</li>
    <li>
      Nombre d'éléments au total (utiliser un customPipe) Le nombre d'élément
      correspond au total des quantités de chaque produit
    </li>
  </ol>
</mat-expansion-panel>
<!-- Fin des consignes -->

<!-- Insert your code here -->
<div class="m-1">
  <table>
    <tr>
      <th>Prénom du client</th>
      <th>Nom du client</th>
      <th>Adresse du client</th>
      <th>Total du panier en dollars</th>
      <th>Nombre d'articles</th>
    </tr>
  </table>
</div>
