<h2>TP Exam 2025-2026 cours web</h2>
<p>
  Dans ce TP, le but du jeu est de concevoir un site d-ecommerce pour une
  association sportive de Roundnet. Le site est composé de différentes routes :
</p>
<ol>
  <li>
    Une page <a routerLink="/products"> produits</a> qui affiche la liste des
    produits vendus
  </li>
  <li>
    Une page <a routerLink="/product-details/1"> produit</a> qui affiche le
    détails d'un produit
  </li>
  <li>
    Une page <a routerLink="/cart"> panier</a> qui affiche le contenu du panier
    de l'utilisateur
  </li>
  <li>
    Une page <a routerLink="/customer-informations"> info client</a> qui affiche
    un formulaire pour récupérer les informations de l'utilisateur
  </li>
  <li>
    Une page <a routerLink="/order-summary"> résumé</a> qui affiche le résumé de
    la commande
  </li>
  <li>
    Une page <a routerLink="/admin-orders"> admin</a> qui affiche la liste des
    commandes effectués
  </li>
</ol>

<p>
  L'application est basée sur des données mockées qui sont stockées dans le
  dossier mocks. Elle n'est pas connectée à un back-end pour simplifier le
  développement.
</p>

<h3>Barème de notation à titre informatif (sur 15 points) :</h3>
<p>
  Chaque page contient des consignes avec des actions à réaliser. La répartition
  des points est la suivante :
</p>
<ol>
  <li>Projet qui compile : 1 point</li>
  <li>L'application permet de créer une commande valide : 1 point</li>
  <li>Page produits : 2 points</li>
  <li>Page détails d'un produit : 2 points</li>
  <li>Page panier : 2 points</li>
  <li>Page info client : 5 points</li>
  <li>Page admin : 2 points</li>
</ol>
