<!-- Consignes -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Consignes </mat-panel-title>
  </mat-expansion-panel-header>
  <ol>
    <li>
      Afficher la liste des produits grâce au composant
      <b>product</b>
    </li>
    <li>
      Ajouter un lien sur le titre qui redirige vers la page de détails du
      produit en passant l'id du produit en paramètre de la route (le composant
      s'appelle
      <b>product-details</b>)
    </li>
  </ol>
</mat-expansion-panel>
<!-- Fin des consignes -->

<!-- Insert your code here -->
<h2>Listes des produits</h2>
<div></div>
